body{
   background-color: lightblue;
}

header h2{
   text-align: center;
   color: blue;
}

 section div img {
   
   max-width: 98%;
   height: auto;
   width: 30%;
   margin: 1%;
   float: left;
 }